<!--
  ~ Copyright (c) 2006-2013  David Soergel  <dev@davidsoergel.com>
  ~ Licensed under the Apache License, Version 2.0
  ~ http://www.apache.org/licenses/LICENSE-2.0
  -->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="phyloutils" verbose="1" parallel="false" thread-count="1">
  <test name="phyloutils" junit="false">
    <!--<packages>
    <package name="edu.berkeley.compbio.phyloutils"/>
  </packages>-->
    <classes>
      <class name="edu.berkeley.compbio.phyloutils.CiccarelliUtilsTest"/>
      <class name="edu.berkeley.compbio.phyloutils.NewickParserTest"/>
      <class name="edu.berkeley.compbio.phyloutils.HugenholtzTaxonomyServiceTest"/>
    </classes>
  </test>
</suite>
